* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

@import "bootstrap/scss/bootstrap-grid";

.container {
  margin-top: 200px;
}

p {
  color: #000;
  font-family: "Inter";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.col {
  display: flex;
  padding: 110px 101px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: #efcd51;
  border: #000 2px solid;
  margin-top: 10px;
}

.sectionbootstrap {
  background-color: lightgoldenrodyellow;
  padding: 50px 0px;
}

.sectionflex {
  background: lightpink;
  padding: 50px 20px;
}

.boite {
  display: flex;
  width: 200px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ef5151;
}

.flexbox1 {
  border: 4px solid crimson;
  background: #fff;
  margin-bottom: 50px;
  width: 100%;
  min-height: 750px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.flexbox2 {
  border: 4px solid crimson;
  background: #fff;
  margin-bottom: 50px;
  width: 100%;
  min-height: 750px;
  gap: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.flexbox3 {
  border: 4px solid crimson;
  background: #fff;
  margin-bottom: 50px;
  width: 100%;
  min-height: 750px;
  gap: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexbox4 {
  border: 4px solid crimson;
  background: #fff;
  margin-bottom: 50px;
  width: 100%;
  min-height: 750px;
  gap: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.flexbox5 {
  border: 4px solid crimson;
  background: #fff;
  margin-bottom: 50px;
  width: 100%;
  min-height: 750px;
  gap: 20px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.boite2 {
  display: flex;
  width: 200px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ef5151;
  display: flex;
  flex-grow: 3;
}
