* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

@import "bootstrap/scss/bootstrap-grid";

.container {
  margin-top: 200px;
  margin: 50px;
  border: 4px solid orange;
  background: white;
  padding: 20px;
}

p {
  color: #000;
  font-family: "Inter";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/// Section

.sectionbootstrap {
  background-color: lightgoldenrodyellow;
  padding: 50px 0px;
}

.sectionflex {
  background: lightpink;
  padding: 50px 20px;
}

.sectionposition {
  background: #f7d9fb;
  padding: 50px 20px;
}

//// Bootstrap

.col {
  display: flex;
  padding: 110px 101px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: #efcd51;
  border: #000 2px solid;
  margin-top: 10px;
}

//// Flex-box

.boite {
  display: flex;
  width: 200px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ef5151;
}

.flexbox1 {
  border: 4px solid crimson;
  background: #fff;
  margin-bottom: 50px;
  width: 100%;
  min-height: 750px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.flexbox2 {
  border: 4px solid crimson;
  background: #fff;
  margin-bottom: 50px;
  width: 100%;
  min-height: 750px;
  gap: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.flexbox3 {
  border: 4px solid crimson;
  background: #fff;
  margin-bottom: 50px;
  width: 100%;
  min-height: 750px;
  gap: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexbox4 {
  border: 4px solid crimson;
  background: #fff;
  margin-bottom: 50px;
  width: 100%;
  min-height: 750px;
  gap: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.flexbox5 {
  border: 4px solid crimson;
  background: #fff;
  margin-bottom: 50px;
  width: 100%;
  min-height: 750px;
  gap: 20px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.boite2 {
  display: flex;
  width: 200px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ef5151;
  display: flex;
  flex-grow: 3;
}

//// Position CSS

.container_css {
  background-color: #fff;
  border: 4px solid purple;
  max-width: 800px;
  margin: 150px auto;
}

.position_boite1 {
  background: #b96ee1;
  display: flex;
  width: 658px;
  height: 328px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.position_boite2 {
  position: absolute;
  right: 40px;
  top: 40px;
  background: #ffa8db;
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.position_boite3 {
  background: #ef9851;
  display: flex;
  width: 658px;
  height: 328px;
  justify-content: center;
  align-items: center;
  position: relative;
}

/// Comment faire monter le 3

.position_boite4 {
  background: #ffa8db;
  display: flex;
  width: 300px;
  height: 100px;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 16px;
  bottom: 10px;
}

.position_boite5 {
  background: #efcd51;
  display: flex;
  width: 658px;
  height: 328px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.position_boite6 {
  display: flex;
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
  border-radius: 150px;
  background: #95c4d7;
  position: absolute;
}
