* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

@import "bootstrap/scss/bootstrap-grid";

.container {
  margin-top: 200px;
}

p {
  color: #000;
  font-family: "Inter";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.col {
  display: flex;
  padding: 110px 101px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: #efcd51;
  border: #000 2px solid;
  margin-top: 10px;
}
